langchain==0.0.239
langchain_community
streamlit
streamlit-chat
sentence-transformers
faiss-cpu
python-docx
pypdf  # For PDF support
PyPDF2  # Keep if necessary, although pypdf is a more updated PDF handling library
